<nav>
  <div class="nav-wrapper cyan darken-2">
    <a href="#" class="brand-logo"
      ><img id="home-logo" src="./assets/pictures/home-logo.png" alt="Logo"
    /></a>
    <div id="logout" class="right hide-on-med-and-down">
      <a href="#" (click)="onSignOutClick()" class="material-icons hoverable">
        exit_to_app
      </a>
    </div>
    <div class="right hide-on-med-and-down">
      <ul>
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
      </ul>
    </div>
  </div>
</nav>
