<div class="container">
  <div class="row card hoverable">
    <div class="card-content">
      <h1 class="card-title">Sign in</h1>

      <form
        class="row s12"
        #signInForm="ngForm"
        (ngSubmit)="onSubmit(signInForm)"
      >
        <!-- Login input -->
        <div class="input-field col s12">
          <input
            placeholder="Login"
            type="text"
            class="validate"
            name="login"
            ngModel
          />
          <label for="login">Login</label>
        </div>

        <!-- Password input -->
        <div class="input-field col s12">
          <input
            placeholder="Password"
            type="password"
            class="validate"
            name="password"
            ngModel
          />
          <label for="password">Password</label>
        </div>

        <!-- Submit button -->
        <div class="col s12 center-align">
          <button
            class="btn waves-effect waves-light"
            type="submit"
            name="signin"
          >
            Sign in
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Message when bad credentials where entered -->
  <div *ngIf="authenticationFailed" class="row card red darken-2">
    <div class="card-content center-align"><h5>Bad Credentials</h5></div>
  </div>
</div>
